{% extends "layout.html" %}
{% load static from staticfiles %}


{% block title %} Contact Me | Mohd Muthanna {% endblock %}

{% block content %}
<!--  -->
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2> Contact Me  </h2>
      <p>If you have any questions feel free to call me or send me an email</p>
      <ul>
        <li class='contact'>
          Mobile: +962-785447921
        </li>
        <li class='contact'>
          Email: mohd.muthanna@gmail.com
        </li>
      </ul>
      <p> Also You can found me on
        <a href="/smedia">Social Media</a>
      </p>
    </div>
  </div><!--  -->
</div> <!-- --> <!-- end of container -->

{% endblock %}
