{% extends "layout.html" %}
{% load static from staticfiles %}


{% block title %} Social Media | Mohd Muthanna {% endblock %}

{% block content %}
<!--  -->
<div class="container">
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1">
      <h2> Social Media  </h2>
      <p class='smedia-p'>I'm a Social Media addict, follow me:</p>
      <br/>



      <p class='sm-fa'>
        <i class="fa fa-linkedin"></i>
        <a href="https://jo.linkedin.com/in/mohdmuthanna">Linkedin </a>
      </p>

      <p class='sm-fa'>
        <i class="fa fa-twitter"></i>
        <a href="https://twitter.com/36mohd">Twitter: @36mohd </a>
      </p>

      <p class='sm-fa'>
        <i class="fa fa-facebook"></i>
        <a href="https://fb.com/mohammed.aldolaimy">Facebook:  /mohammed.aldolaimy </a>
    </p>

      <p class='sm-fa'>
        <i class="fa fa-instagram"></i>
        <a href="https://www.instagram.com/36mohd/">Instagram: /36mohd </a>
      </p>

      <p class='sm-fa'>
        <i class="fa fa-github"></i>
        <a href="https://www.github.com/mohdmuthanna/">Github: /mohdmuthanna </a>
      </p>

    </div>
  </div><!-- end of row -->

</div> <!-- --> <!-- end of container -->

{% endblock %}
