{% extends "layout.html" %}
{% load static from staticfiles %}


{% block title %} Thank You | Mohd Muthanna {% endblock %}

{% block content %}
<!--  -->
<div class="container">
  <div class="row">
    <div class="center">
      <h2>Thank You</h2>
      <p>We appreciate that you’ve taken the time to write us.We’ll get back to you very soon.</p>
      <p>Also we send you a message that confirms your message's delevery.</p>
    </div>
  </div><!--  -->

</div> <!-- --> <!-- end of container -->

{% endblock %}
